<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>RestaurantServlet</display-name>
    <servlet-name>RestaurantServlet</servlet-name>
    <servlet-class>RestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantServlet</servlet-name>
    <url-pattern>/RestaurantServlet</url-pattern>
  </servlet-mapping>
  <display-name>restaurant-booking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Restaurantcreate</display-name>
    <servlet-name>Restaurantcreate</servlet-name>
    <servlet-class>Restaurantcreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restaurantcreate</servlet-name>
    <url-pattern>/Restaurantcreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantcreateServlet</display-name>
    <servlet-name>RestaurantcreateServlet</servlet-name>
    <servlet-class>RestaurantcreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantcreateServlet</servlet-name>
    <url-pattern>/RestaurantcreateServlet</url-pattern>
  </servlet-mapping>
  
  	<servlet-mapping>
		<servlet-name>RestaurantServlet</servlet-name>
		<url-pattern>/RestaurantServlet/dashboard</url-pattern>
		<url-pattern>/RestaurantServlet/edit</url-pattern>
		<url-pattern>/RestaurantServlet/update</url-pattern>
		<url-pattern>/RestaurantServlet/delete</url-pattern>
	</servlet-mapping>
</web-app>